### Q1

In [2]:
#swapping two nums

a = int(input("first number: "))
b = int(input("sec number:"))
temp = a
a = b
b = temp
print("value after swapping", a)
print("value after swapping", b)

first number: 23
sec number:44
value after swapping 44
value after swapping 23

### Q2

In [10]:
#check odd or even

a = 5
if a%2 == 0:
    print("even")
else:
    print("odd")

odd

### Q3

In [12]:
#squareroot

a = 1600
sqr_root = a**0.5
print(sqr_root)

40.0

### Q4

In [23]:
n = int(input("enter a num: "))
for i in range(1,n+1):
    print(i)

#reversing
for i in range(n,0,-1):
    print(i)

enter a num: 5
1
2
3
4
5
5
4
3
2
1

### Q5

In [14]:
#vol of sphere

radius = float(input("enter value: "))
vol = (4/3)*3.14*(radius)**3
print("volume of the sphere is: ",vol)

enter value: 5
volume of the sphere is:  523.3333333333334

### Q6

In [30]:
for i in range(1,101):
    if i%2 == 0:                       #even
        print("even nums are: ",i)   
    if i%2 != 0:                       #odd
        print("odd nums are: ",i)

odd nums are:  1
even nums are:  2
odd nums are:  3
even nums are:  4
odd nums are:  5
even nums are:  6
odd nums are:  7
even nums are:  8
odd nums are:  9
even nums are:  10
odd nums are:  11
even nums are:  12
odd nums are:  13
even nums are:  14
odd nums are:  15
even nums are:  16
odd nums are:  17
even nums are:  18
odd nums are:  19
even nums are:  20
odd nums are:  21
even nums are:  22
odd nums are:  23
even nums are:  24
odd nums are:  25
even nums are:  26
odd nums are:  27
even nums are:  28
odd nums are:  29
even nums are:  30
odd nums are:  31
even nums are:  32
odd nums are:  33
even nums are:  34
odd nums are:  35
even nums are:  36
odd nums are:  37
even nums are:  38
odd nums are:  39
even nums are:  40
odd nums are:  41
even nums are:  42
odd nums are:  43
even nums are:  44
odd nums are:  45
even nums are:  46
odd nums are:  47
even nums are:  48
odd nums are:  49
even nums are:  50
odd nums are:  51
even nums are:  52
odd nums are:  53
even nums are:  54
odd nums are:  55
even nums are:  56
odd nums are:  57
even nums are:  58
odd nums are:  59
even nums are:  60
odd nums are:  61
even nums are:  62
odd nums are:  63
even nums are:  64
odd nums are:  65
even nums are:  66
odd nums are:  67
even nums are:  68
odd nums are:  69
even nums are:  70
odd nums are:  71
even nums are:  72
odd nums are:  73
even nums are:  74
odd nums are:  75
even nums are:  76
odd nums are:  77
even nums are:  78
odd nums are:  79
even nums are:  80
odd nums are:  81
even nums are:  82
odd nums are:  83
even nums are:  84
odd nums are:  85
even nums are:  86
odd nums are:  87
even nums are:  88
odd nums are:  89
even nums are:  90
odd nums are:  91
even nums are:  92
odd nums are:  93
even nums are:  94
odd nums are:  95
even nums are:  96
odd nums are:  97
even nums are:  98
odd nums are:  99
even nums are:  100

### Q7

In [1]:
#roots of a quadratic eq

a = int(input("enter value: "))
b = int(input("enter value: "))
c = int(input("enter value: "))
d = (b**2)-4*a*c
#two solutions
sol1 = (-b+(d)**0.5)/2*a 
sol2 = (-b-(d)**0.5)/2*a

print("the solns are {0} and {1}".format(sol1,sol2))

enter value: 1
enter value: 6
enter value: 2
the solns are -0.3542486889354093 and -5.645751311064591

### Q8

In [4]:
#count

num = int(input("enter a number: "))
count = 0
while num > 0:
    num = num//10
    count = count + 1
print(count)

enter a number: 2353
4

### Q9

In [7]:
#prime

num = int(input("enter a number: "))
if num > 1:
    for i in range(2,num):
        if num%i == 0:
            print("False")
            break
    else:
        print("True")  
else:
    print("False")

enter a number: 0
False

### Q16

In [1]:
end = int(input("enter a number: "))
  
for val in range(1, end + 1):  
    if val > 1: 
        for n in range(2, val): 
            if (val % n) == 0: 
                break
        else: 
            print(val)

enter a number: 20
2
3
5
7
11
13
17
19

### Q17

In [1]:
#factorial

def fact(n):
    if n == 1 or n == 0:
        return 1
    else:
        return n*fact(n-1)
num = int(input("Enter a number: "))
if num < 0:
    print("factorial does not exist")
else:
    print("The factorial of",num,"is",fact(num))

Enter a number: 5
The factorial of 5 is 120

### Q21

In [2]:
#1)

n=5
for i in range(n):
    print("*"*(i+1)+" "*(n-i-1))

*
**
***
****
*****

In [3]:
#2)

n=6
for i in range(n):
    print("*"*(n-i)+" "*(i+1))

******
*****
****
***
**
*

In [8]:
#3)

n = 5
for i in range(n):
    for j in range(i+1):
        print(i+1, end = " ")
    for j in range(n-i-1):
        print(" ", end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [6]:
#4)

n=4
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

   *
  * *
 * * *
* * * *

In [14]:
#5)

n = 4
num=1
for i in range(n):
    for j in range(i+1):
        print(num, end = " ")
        num+=1
    for j in range(n-i-1):
        print(" ", end = " ")
    print()

1
2 3
4 5 6
7 8 9 10

In [19]:
#6)  (took help from the net)

def alphabet(n):
    num=65
                
    for i in range(n):
        for j in range(i+1):
            ch=chr(num)
            print(ch, end = " ")
            num+=1
        for j in range(n-i-1):
            print(" ", end = " ")
        print()

In [21]:
alphabet(4)

A
B C
D E F
G H I J

### Q18

In [23]:
#fibonacci
num=int(input("enter a number: "))
p = 0
n = 1
for i in range(num):
    print(n)
    p, n = n, p+n

enter a number: 10
1
1
2
3
5
8
13
21
34
55

### Q20

In [27]:
#factors of a number

def factors(n):
    for i in range(1,n+1):
        if n % i == 0:
            print(i)
num =int(input("enter a number: "))
factors(num)

enter a number: 121
1
11
121

### Q19

In [28]:
def lcm(x, y):
    if x > y:
        greater = x
    else:
        greater = y

    while(True):
        if((greater % x == 0) and (greater % y == 0)):
            lcm = greater
            break
        greater += 1
    return lcm
num1 = int(input("enter first number: "))
num2 = int(input("enter sec number: "))

print("The L.C.M. of", num1,"and", num2,"is", lcm(num1, num2))

enter first number: 11
enter sec number: 121
The L.C.M. of 11 and 121 is 121

### Q12

In [29]:
sum([i for i in range(1000) if i % 3 == 0 or i % 5 == 0])

233168

### Q14

In [35]:
a=sum(i**2 for i in range(1,101))
(a**2)-a

114480384150

### Q13

In [41]:
for x in range(2000,3201):
    if x%7==0 and x%5!=0:
        print(x)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

### Q15

In [ ]:
total = 0          #took help from the net
count = 0
average = 0

while True:
    try:
        x = input("Enter a number: ")
        if (x == "stop"): 
            break
        value = float(x)
        total = value + total
        count = count + 1
        average = total / count
    except:
        print("Invalid input.")
        print(total, count, average)

### Q10

In [ ]:
n = input('Input a number: ')
count = 0
for num in range(1,n+1):
    if num % 3 == 0:
        count = count + num
    elif num % 5 == 0:
        count = count + num
print count

### Q11

In [ ]:
n1 = input('Input a number: ')
n2 = raw_input('Compute sum or product: ')

if n2 == 'sum':
    print sum(range(1,n1+1))
elif n2 == 'product':
    product = 1
    for i in range(1,n1+1):
        product = product*i
    print product

### Q22

In [1]:
n=int(input())
s=n
sum=s
for i in range(3):
    s=s*10+n
    sum=sum+s
print(sum)

9
11106